.container {
  display: grid;
  grid-gap: 30px;
  height: 100vh;
  grid-template-columns:
    [start]
    repeat(3,
          [col-sml-start] minmax(30px, auto)
          [col-sml-end col-med-start] minmax(60px, auto)
          [col-med-end col-lrg-start] minmax(100px, auto) [col-lrg-end]
    )[end]
}

.box {
  background-color: mediumseagreen;
  font-family: "Roboto";
  font-size: 30px;
}