.container {
  display: grid;
  grid-gap: 10px;
  height: 100vh;
  grid-template-rows: 4fr 6fr;
  grid-auto-rows: 1fr 12fr;
  grid-template-columns: repeat(auto-fill, minmax(200px, auto));
}

.box {
  background-color: mediumseagreen;
  font-size: 30px;
  font-family: "Roboto";
  display: flex;
  justify-content: center;
  align-items: center;
}