.container {
  display: grid;
  grid-gap: 30px;
  grid-template-columns:
    minmax(min-content, 1fr)
    minmax(min-content, 4fr);
  height: 100vh;
}

.container > * {
  background-color: mediumseagreen;
  font-family: "Roboto";
  font-size: 30px;
}